@import url('https://fonts.googleapis.com/css2?family=Geo&family=Oxanium:wght@200..800&family=Noto+Sans+KR:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Geo', sans-serif;
}

body.lang-tl * {
  font-family: 'Oxanium', sans-serif;
}

body.lang-ko * {
  font-family: 'Noto Sans KR', sans-serif;
}